{% extends "base.html" %}

{% block content %}
<!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Technologies</a></h4>
              <p class="description">Technologi is base of Entire World..basically for devlopers use technologies for solving real world problerms</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sports</a></h4>
              <p class="description">!

Sports are physical or mental activities that involve
Error in body stream

Sports are physical or mental activities that involve skill and competition. /p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Entertainment</a></h4>
              <p class="description">The purpose of entertainment is to provide an escape from everyday life, to elicit emotional responses such as laughter, joy, or excitement,</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">News</a></h4>
              <p class="description">News is a type of media content that provides information about recent events and developments </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
{%endblock%}

